html {
    font-size: 70%;/*10 ÷ 16 × 100% = 62.5%*/
}
.header-main {
    line-height: 22px;
    color: #ffffff;
    font-size: 1.2rem;
    height: 3.5%;
    background: -webkit-linear-gradient(left, rgb(52,34,80) , rgb(29,61,104)); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, rgb(52,34,80), rgb(29,61,104)); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, rgb(52,34,80), rgb(29,61,104)); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, rgb(52,34,80) , rgb(29,61,104)); /* 标准的语法 */
}
.header-main a {
    color: #ffffff;
    font-size: 1.2rem;
}
.menu-bg {
    height: 5.6%;
    background: -webkit-linear-gradient(left, rgb(57,41,90) , rgb(29,69,119)); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, rgb(57,41,90), rgb(29,69,119)); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, rgb(57,41,90), rgb(29,69,119)); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, rgb(57,41,90), rgb(29,69,119)); /* 标准的语法 */
}
.parent-height {
    height: 100%;
}
.sidebar-child li >a{
    padding-left: 33px;
}
.main-body{
    height: 90%;
}
.main-body >.row,.main{
    height: 100%;
}
.sidebar {
    height: 100%;
    padding: 0;
    background-color: rgb(226,227,234);
}
.nav li >a{
    color: #000000;
    font-size: 1.2rem;
}
.sidebar hr {
    margin: 0 20px;
    background-color: rgb(251,251,251);
}
.main-tab {
    font-size: 1.7rem;
    color: rgb(50,53,114);
    background-color: rgb(226,227,234);
    margin-left: 10px;
    padding: 6px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.sidebar-child,
.block-box {
    display: block;
}
.sidebar-child li {
    line-height: 8px;
    font-size: 1.2rem;
}
.sidebar-click {
    text-decoration: none;
    background-color: #eee;
}
.con-header {
    background-color: rgb(226,227,234);
    height: 30px;
    padding-top: 5px;
}
.nav-tabs > li > a {
    line-height: 3px;
    font-size: 1.2rem;
}
.close {
    font-size: 1.5rem;
    line-height: 2px;
    margin-left: 6px;
}
.nav li a {
    padding-right: 6px;
}
.nav-open {
    transform: rotate(-90deg);
}
.con-body {
    height: 92%;
}
.con-box {
    margin-top: 15px;
    overflow: auto;
    height: 100%;
}
.none-box {
    display: none;
}
.width-92 {
    width: 92%;
}
.width-20 {
    width: 20%;
}
.width-25 {
    width: 25%;
}
.width-73 {
    width: 73%;
}
.height-5 {
    height: 5%;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active{
    background-color: rgb(226,227,234);
}
.table-responsive {
    width: 100%;
    margin-top: 1%;
    border-radius: 5px;
    overflow-x: hidden;

}
.keywordTable,.inGroupTable {
    width: 100%;
    table-layout:fixed;
}
.table>thead {
    background-color: rgb(226,227,234);
}
.table>thead>tr>th {
    line-height: 13px;
}
.table td {
    overflow: hidden;
    word-wrap:break-word;
    word-break:break-all;
}
.table-bordered > tbody > tr:nth-child(even) {
    background-color: #f9f9f9;
}
.keywordTable tr th:nth-child(1) {
    width: 7%;
}
.keywordTable tr th:nth-child(2) {
    width: 9%;
}
.keywordTable tr th:nth-child(3) {
    width: 34%;
}
.keywordTable tr th:nth-child(4) {
    width: 18%;
}
.keywordTable tr th:nth-child(5) {
    width: 18%;
}


/*消息管理列表*/
.messageTable {
    table-layout:fixed;
}
.mes-box {
    overflow-x: auto;
    width: 1700px;
}
.messageTable tr th:nth-child(1) {
    width: 80px;
}
.messageTable tr th:nth-child(2),
.messageTable tr th:nth-child(10){
    width: 120px;
}
.messageTable tr th:nth-child(3),
.messageTable tr th:nth-child(4),
.messageTable tr th:nth-child(5),
.messageTable tr th:nth-child(6),
.messageTable tr th:nth-child(7){
    width: 60px;
}
.messageTable tr th:nth-child(8),
.messageTable tr th:nth-child(9){
    width: 90px;
}
.messageTable td span {
    color: rgb(84,173,203);
}
/*群管理*/
#groupName {
    width: 400px;
}
.groupTable {
    table-layout: fixed;
}
.groupTable tr th:nth-child(1) {
    width: 13%;
}
.groupTable tr th:nth-child(2) {
    width: 12%;
}
.groupTable tr th:nth-child(3),
.groupTable tr th:nth-child(4),
.groupTable tr th:nth-child(5),
.groupTable tr th:nth-child(6),
.groupTable tr th:nth-child(7){
    width: 7%;
}
.groupTable tr th:nth-child(8),
.groupTable tr th:nth-child(9),
.groupTable tr th:nth-child(10),
.groupTable tr th:nth-child(11) {
    width: 9%;
}
.keyModify {
    margin-top: 10px;
}
.marginL-2 {
    margin-left: 2%;
}
.marginL-3 {
    margin-right: 3px;
}
/*小助手所在群表格*/
.inGroupTable th:nth-child(1) {
    width: 17%;
}
.inGroupTable th:nth-child(2) {
    width: 13%;
}
.inGroupTable th:nth-child(3) {
    width: 25%;
}
.inGroupTable th:nth-child(4) {
    width: 18%;
}
#groupSearch {
    width: 90%;
}
.groupTable .form-control {
    border-radius: 0;
    border: 0;
    color: #5bc0de;
}
@media (min-width: 1300px) and (max-width: 1800px){
    .main-tab {
        font-size: 2.5rem;
        margin-left: 10px;
        padding: 10px 12px;
    }
    .nav li >a{
        font-size: 1.4rem;
    }
    .sidebar-child li {
        line-height: 10px;
    }
    .sidebar-child li >a{
        padding-left: 43px;
    }
    .nav-tabs > li > a {
        line-height: 4px;
        font-size: 1.4rem;
    }
    .con-box {
        margin-top: 9px;
    }

}
@media (min-width: 1800px) {
    .main-tab {
        font-size: 3rem;
        margin-left: 15px;
        padding: 12px 15px;
    }
    .nav li >a{
        font-size: 1.5rem;
    }
    .sidebar-child li {
        line-height: 13px;
    }
    .sidebar-child li >a{
        padding-left: 43px;
    }
    .nav-tabs > li > a {
        line-height: 4px;
        font-size: 1.5rem;
    }
    .con-box {
        margin-top: -5px;
    }

}